extends layout

block content

  div.container
    div.page-header
      h3= counter
      h3= message
    form(name="start_game", method="post", action="/matches")
      div.form-group
        label(for="number_of_matches") Anzahl der Streichhölzer eintragen
        input(class="form-control", type="text", name="number_matches")
      div.form-group
        label Welcher Spieler soll beginnen?
        div.radio
          label
            input(type="radio", name="start_player", value="A")
            span Spieler A
        div.radio
          label
            input(type="radio", name="start_player", value="B")
            span Spieler B (Computer)
      button(class="btn btn default", type="submit") Spiel beginnen
